@using System.IdentityModel.Tokens.Jwt;
@using System.Security.Claims;
@using ShoppingList.WebMVC.Areas.AdminPanel.Models.DashboardVM;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    // var jwt=TempData["Token"].ToString();
    // var handler = new JwtSecurityTokenHandler();
    // var token = handler.ReadJwtToken(jwt);
    // var nameClaim = token.Claims.FirstOrDefault(claim => claim.Type == ClaimTypes.Name);
    // TempData["Username"] = nameClaim.Value.ToString();
}

@* @section UserName{
    Hoşgeldin @nameClaim.Value.ToUpper()

} *@

@model DashboardViewModel
<h1>Dashboard</h1>


<div class="container text-center">
    <div class="row">
        <div class="col">
            <div class="card text-bg-success mb-3" style="max-width: 18rem;">
                <div class="card-body">
                    <div class="container text-center">
                        <div class="row align-items-center">
                            <div class="col-3">
                                <img src="/Images/main/man.png" width="50" />
                            </div>
                            <div class="col-9">
                                <h5 class="card-title text-center">KULLANICI SAYISI</h5>
                                <p class="card-text"><h2>@Model.UserCount</h2></p>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-bg-warning mb-3" style="max-width: 18rem;">
                <div class="card-body">
                    <div class="container text-center">
                        <div class="row align-items-center">
                            <div class="col-3">
                                <img src="/Images/main/options.png" width="40" />
                            </div>
                            <div class="col-9">
                                <h5 class="card-title text-center">KATEGORİ SAYISI</h5>
                                <p class="card-text"><h2>@Model.CategoryCount</h2></p>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-bg-info  mb-3" style="max-width: 18rem;">
                <div class="card-body">
                    <div class="container text-center">
                        <div class="row align-items-center">
                            <div class="col-3">
                                <img src="/Images/main/dairy-products.png" width="40" />
                            </div>
                            <div class="col-9">
                                <h5 class="card-title text-center">ÜRÜN SAYISI</h5>
                                <p class="card-text"><h2>@Model.ProductCount</h2></p>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>




