@using System.IdentityModel.Tokens.Jwt;
@using System.Security.Claims;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    // var jwt=TempData["Token"].ToString();
    // var handler = new JwtSecurityTokenHandler();
    // var token = handler.ReadJwtToken(jwt);
    // var nameClaim = token.Claims.FirstOrDefault(claim => claim.Type == ClaimTypes.Name);
    // TempData["Username"] = nameClaim.Value.ToString();
}

@* @section UserName{
    Hoşgeldin @nameClaim.Value.ToUpper()
    
} *@
<h1>Index</h1>
