@using ShoppingList.WebMVC.Areas.AdminPanel.Models.CategoryVM;

@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model AddCategoryVM
<h1>Kategori Ekle</h1>

<div class="container"></div>
@{
    if (TempData["Error"] is not null)
    {

        <div class="alert alert-danger" role="alert">
            @TempData["Error"]
        </div>
    }

}
<div class="card">
    <div class="card-body">
        <form asp-action="add" asp-controller="Categories" asp-area="AdminPanel" method="post">
            
            <div class="mb-3">
                <label class="form-label">Kategori Adı</label>
                <input asp-for=Name type="text" class="form-control" >
            </div><p class="text-danger"><span asp-validation-for="Name"></span></p>

            <button type="submit" class="btn btn-primary">Ekle</button>
        </form>
    </div>
</div>

